@import url('https://fonts.cdnfonts.com/css/tt-trailers-trial');
@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-tttrailers: "TT Trailers Trial", "sans-serif";
  --font-ginto-nord-black: "ABC Ginto Nord Unlicensed Trial", "sans-serif";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
